<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.emptyspirit.mapper.UserAndSongMapper">


    <!--查询收藏歌曲的结果集映射-->
    <resultMap id="FavoriteSongsMap" type="cn.emptyspirit.entity.expand.SongExpand">
        <id property="id" column="id" />
        <result property="songName" column="song_name" />
        <result property="playTime" column="play_time" />
        <association property="singer" column="singer_name"
                     javaType="cn.emptyspirit.entity.Singer">
            <result property="singerName" column="singer_name" />
        </association>
    </resultMap>

    <select id="selectFavoriteSongsByUserId" parameterType="Integer"
            resultMap="FavoriteSongsMap">
        select
            b.id,
            b.song_name,
            b.play_time,
            c.singer_name
        from
            t_user_song a
            inner join t_song b on a.user_id = #{value } and a.song_id = b.id
            left join t_singer c on c.id = b.singer_id;
    </select>

</mapper>